@media screen and (max-width: 390px) {
  #skill .computer {
    display: grid;
    padding: 15px;
    margin-left: 8px;
  }
  #skill .html {  
    position:relative;
    padding: 15px;
    margin-left: 8px;
  }
  #skill .css {
    padding: 15px;
    margin-left: 8px;
    padding-bottom: 10px;
  }
}
