html {
  scroll-behavior: smooth;
}
.container {
  background-color: rgba(231, 229, 223, 0.925);
}
header {
  display: inline-flex;
}
header img {
  size-adjust: small;
  padding-top: 20px;
  padding-left: 100px;
  transition: 1.2s;
}
header img:hover {
  transform: scale(1.2);
}
header ul {
  display: inline-flex;
  list-style: none;
  padding-left: 500px;
}
header ul li {
  padding: 15px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
header ul li a {
  color: black;
}
.intro .hi {
font-size: 50px;
font-family: 'Franklin Gothic Medium', sans-serif;
color: rgb(0, 146, 172);
margin-left: 20px;
text-align: center;
color: white;
text-shadow: 2px 4px 4px #000000;
}
.intro #animated {
  font-size: 34px;
  font-weight: 600;
  color: rgb(0, 122, 230);
}
.intro #animated span {
  position: relative;
  color: chocolate;
}
#skill .skill1 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: inline-block;
}
#skill .computer {
display: inline-flex;
margin-left: 80px;
place-items: center;
}
#skill .computer img {
max-width: 10%;
padding: 20px;
}
#skill .computer span {
background-color: aliceblue;
border-style: solid;
border-radius: 10px;
border-color: antiquewhite;
font-size: 20px;
padding: 20px;
}
#skill .html {
display: inline-flex;
place-items: center;
margin-left: 700px;
}
#skill .html img {
max-width: 10%;
padding: 20px;
}
#skill .html span {
background-color: aliceblue;
border-style: solid;
border-radius: 10px;
border-color: antiquewhite;
font-size: 20px;
padding: 20px;
}
#skill .css {
display: inline-flex;
margin-left: 80px;
place-items: center;
}
#skill .css img {
max-width: 8%;
padding: 20px;
}
#skill .css span {
background-color: aliceblue;
border-style: solid;
border-radius: 10px;
border-color: antiquewhite;
font-size: 20px;
padding: 20px;
}
#contact {
  padding-top: 30px;
}
.socialMedia{
display: inline-flex;
margin-top: 100px;
}
.socialMedia .icon{
margin: 0 20px;
text-align: center;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
z-index: 2;
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socialMedia .icon span{
display: block;
height: 30px;
width: 30px;
background: none;
border-radius: 50%;
position: relative;
z-index: 2;
box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socialMedia .icon span i{
line-height: 32px;
font-size: 20px;
}
.socialMedia .icon .tooltip{
position: absolute;
top: 0;
z-index: 1;
background: #6e0000;
color: #fff;
padding: 5px 20px;
font-size: 20px;
font-weight: 500;
border-radius: 15px;
opacity: 0;
pointer-events: none;
box-shadow: 0px 100px 100px rgba(0,0,0,0.1);
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socialMedia .icon:hover .tooltip{
top: -70px;
opacity: 1;
pointer-events: auto;
}
.icon .tooltip:before{
position: absolute;
content: "";
height: 15px;
width: 15px;
background: none;
left: 50%;
bottom: -6px;
transform: translateX(-50%) rotate(45deg);
transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socialMedia .icon:hover span{
color: #fff;
}
.socialMedia .icon:hover span,
.socialMedia .icon:hover .tooltip{
text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.socialMedia .facebook:hover span,
.socialMedia .facebook:hover .tooltip,
.socialMedia .facebook:hover .tooltip:before{
background: #3B5999;
}
.socialMedia .x-twitter:hover span,
.socialMedia .x-twitter:hover .tooltip,
.socialMedia .x-twitter:hover .tooltip:before{
background: #46C1F6;
}
.socialMedia .mail:hover span,
.socialMedia .mail:hover .tooltip,
.socialMedia .mail:hover .tooltip:before{
background: #17ce4b;
}
footer {
background-color: rgb(255, 255, 255);
display: flex;
padding: 20px;
}
footer p {
    margin-left: 1000px;
}
